@{ 
    var names = ViewData["names"] as string;
    var averageTimes = ViewData["averageTimes"] as string;
    var averageActionTimes = ViewData["averageActionTimes"] as string;
    var minTimes = ViewData["minTimes"] as string;
    var maxTimes = ViewData["maxTimes"] as string;
}


<div class="panel-body" style="height:395px;" id="pileCharts">

</div>
<script>
    var names = '@names';
    var averageTimes = '@averageTimes';
    var averageActionTimes = '@averageActionTimes';
    var minTimes = '@minTimes';
    var maxTimes = '@maxTimes';
    var nameArr = names.split(",");
    var averageTimeArr = averageTimes.split(",");
    var averageActionTimeArr = averageActionTimes.split(",");
    var minTimesArr = minTimes.split(",");
    var maxTimesArr = maxTimes.split(",");
    var pileCharts = echarts.init(document.getElementById('pileCharts'));
    var barWidth = 30;
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: ['审批平均用时', '单步平均用时', '最长用时', '最短用时']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                show: true,
                textStyle: {
                    color: '#aaa'
                }
            },
            axisLine: {
                lineStyle: {
                    color: '#aaa'
                }
            }
        },
        xAxis: {
            type: 'category',
            data: nameArr,//['流程1', '流程2', '流程3', '流程4', '流程5', '流程6', '流程7', '流程8'],
            axisLabel: {
                show: true,
                textStyle: {
                    color: '#aaa'
                },
                interval: 0,
                formatter: function (value, index) {
                    if (value.length > 5) {
                        return value.substring(0, 5) + "...";
                    } else {
                        return value;
                    }
                }
            },
            axisLine: {
                lineStyle: {
                    color: '#aaa'
                }
            }
        },
        series: [
            {
                name: '审批平均用时',
                type: 'bar',
                stack: '总量',
                barWidth: barWidth,//柱图宽度
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: averageTimeArr//[3, 2, 3, 4, 3, 2, 1, 2]
            },
            {
                name: '单步平均用时',
                type: 'bar',
                stack: '总量',
                barWidth: barWidth,//柱图宽度
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: averageActionTimeArr//[2, 3, 4, 1, 3, 2, 1, 3]
            },
            {
                name: '最长用时',
                type: 'bar',
                stack: '总量',
                barWidth: barWidth,//柱图宽度
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: maxTimesArr//[4, 3, 1, 2, 2, 3, 1, 1]
            },
            {
                name: '最短用时',
                type: 'bar',
                stack: '总量',
                barWidth: barWidth,//柱图宽度
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: minTimesArr//[1, 2, 1, 4, 1, 3, 4, 4]
            }
        ]
    };
    pileCharts.setOption(option);
</script>