@using MZ.BusinessLogicLayer.Business
@{
    ViewBag.Title = "BackgroundJobLogIndex";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    var customerList = ViewData["customerList"] as List<BsonDocument>;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <div class="mb10 pb10 bb">
                        <ul id="selectList" class="nav nav-pills">
                            @if (customerList != null && customerList.Count > 0)
                            {
                                CustomerInfoBll customerInfoBll = CustomerInfoBll._();
                                foreach (var customer in customerList)
                                {
                                    var isRun = customerInfoBll.IsRunning(customer);
                                    <li code='@customer.String("customerCode")' onclick="LoadList(this)">
                                        <a href="javascript:void(0);">
                                            @customer.String("name")

                                        @if (isRun == false)
                                        {
                                            @*灰色*@<span class="fa fa-chain-broken ml5 p-f_gray2" style="font-size: 13px;"></span>
                                        }
                                        else
                                        {
                                            @*绿色*@<span class="fa fa-check-circle ml5 p-f_green1" style="font-size: 14px;"></span>
                                        }
                                    </a>
                                </li>
                                }
                            }
                        </ul>
                    </div>
                    <div id="jobLogList">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    SetMenu(4, 9);
    toJobLogcustomer();
    function toJobLogcustomer() {
        $("#selectList").find("li[code='" + $.cookie('JobLogcustomer') + "']").first().click();
    }
    function rememberLogCode(code) {
        $.cookie('JobLogcustomer', code);
    }
    function LoadList(obj) {
        var customerCode = $(obj).attr("code");
        rememberLogCode(customerCode);
        $("#selectList").find("li.active").removeClass("active");
        $(obj).addClass("active");
        var startDate = "";
        if ($("#startDate").length > 0)
        {
            startDate = $("#startDate").val();
        }
        var endDate = "";
        if ($("#endDate").length > 0) {
            endDate = $("#endDate").val();
        }
        var url = "/OperationPlatform/BackgroundJobLogList?customerCode=" + customerCode + "&startStr=" + startDate + "&endStr=" + endDate + "&r=" + Math.random();
        $("#jobLogList").load(url);
    }
    function reload() {
        $("#selectList").find("li.active").click();
    }
</script>

