@{
    Layout = "";
}
<form>
    <table width="100%" class="table-noBorder">
        <tr>
            <td>
                名称:
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                站点端口:
            </td>
            <td>
                <input type="text" name="port" value="" />
            </td>
        </tr>
        <tr>
            <td>
                站点路径:
            </td>
            <td>
                <input type="text" name="path" value="" />
            </td>
        </tr>
    </table>
</form>
