<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <!-- MQ配置-->
    <!--是否使用通过队列保存-->
    <add key="RabbitMqActive" value="false" />
    <add key="RabbitMQHostStr" value="host=192.168.1.173:5672;username=XXX;password=XXX" />
    <!-- MQ配置 -->
    <add key="RedisHostStr" value="192.168.1.173:6379" />
    <add key="UseRedisCache" value="false" />
    <!--数据库连接字符串-->
    <add key="DataBaseConnectionString" value="mongodb://192.168.1.173:37017/OperationPlatform" />
    <!--业务数据库位置-->
    <add key="MasterDataBaseConnectionString" value="mongodb://192.1.185.173:37017/PosRabbitMQ" />
    <!--是否发布-->
    <add key="IsPublish" value="false" />
    <add key="isSecurity" value="false" />
    <!--Host站点地址-->
    <add key="HostDomain" value="http://localhost:8018" />
    <!--PDF导出站点地址-->
    <add key="PDFDomain" value="http://localhost:8018" />
    <!--站点域-->
    <add key="Domain" value="http://localhost:8018/OperationPlatform/PlatfromIndex" />
    <!--该项目是否是插件-->
    <add key="IsPlugIn" value="0" />
    <!--该项目是否是插件-->
    <add key="PageSize" value="15" />
    <!--该项目是否是插件-->
    <add key="IsIgnoreName" value="1" />
    <!--发送系统消息，是否启用调度中心发送， 1 启用，0 不启用-->
    <add key="SendSysMsgBySchdeuler" value="1" />
    <!--job注册webservice地址-->
    <add key="YinheServiceClientUrl" value="http://localhost:8018/JobRegister.asmx" />
    <!--发送系统消息，是否同时发送Email提醒， 1 是，0 否-->
    <add key="SendSysMsgWithEmail" value="0" />
    <!--登陆页面地址-->
    <add key="LoginUrl" value="/Account/Login_YY" />
    <!--首页页面地址-->
    <add key="IndexUrl" value="/OperationPlatform/PlatfromIndex" />
    <!--菜单JS名称-->
    <add key="MenuJS" value="" />
    <!--菜单权限控件-->
    <add key="MenuRight" value="" />
    <add key="ExpireTime" value="2333-01-01" />
    
    <!--主控地址-->
    
    
    <!--客户代码-->
    <add key="CustomerCode" value="12639ADD-59B1-411E-9639-7619D091A7YY" />
    <!--解码密码-->
    <add key="Secretkey" value="12639ADD-59B1-411E-9639-7619D091A7YY" />
    <!--系统样式-->
    <add key="GlobalCss" value="/Content/css/client/InfoExpert/InfoExpert.css" />
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/tempImages/;" />
    
    
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name=".MZ.Account.Auth" loginUrl="~/Account/LogOn" timeout="2880" slidingExpiration="true" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.5">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MongoDB.Bson" />
        <add namespace="MongoDB.Driver" />
        <add namespace="MongoDB.Driver.Builders" />
        <add namespace="Yinhe.ProcessingCenter" />
        <add namespace="Yinhe.ProcessingCenter.Permissions" />
      </namespaces>
    </pages>
        <identity impersonate="false" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
    <httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/x-javascript" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="*/*" />
        <add enabled="true" mimeType="application/atom+xml" />
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/atom+xml" />
        <add enabled="true" mimeType="application/xaml+xml" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="*/*" />
      </staticTypes>
    </httpCompression>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
       

    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>