<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  <add key="DataBaseConnectionString" value="mongodb://192.168.1.173:37017/OperationPlatform" />
  <add key="BugPushUrl" value="http://localhost:8018" />
      <!-- MQ配置-->
    <!--是否使用通过队列保存-->
    <add key="RabbitMqActive" value="true" />
    <add key="RabbitMQHostStr" value="host=192.168.1.173:5672;username=1;password=1" />
    <!-- MQ配置 -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
